<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccbjb.common.mapper.ShopOwnerMapper">
  <resultMap id="BaseResultMap" type="com.ccbjb.common.domain.ShopOwner">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="pswd" jdbcType="VARCHAR" property="pswd" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="salt" jdbcType="VARCHAR" property="salt" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, nickname, mobile, pswd, create_time,salt
  </sql>

  <!-- 登录 -->
  <select id="findUserByMobile" resultType="ShopOwner" >
    SELECT
    <include refid="Base_Column_List" />
    from shop_owner
    where mobile = #{mobile,jdbcType=VARCHAR}
  </select>

  <select id="login" resultType="ShopOwner" >
    SELECT
    <include refid="Base_Column_List" />
    from shop_owner
    where mobile = #{mobile,jdbcType=VARCHAR} and pswd = #{pswd,jdbcType=VARCHAR}
  </select>
</mapper>